---
const stats = [
  {
    name: 'Years',
    value: '9',
  },
  {
    name: 'Experts',
    value: '15',
  },
  {
    name: 'Projects',
    value: '122',
  },
  {
    name: 'Awards',
    value: "'9'",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              At [Company Name], our mission is to deliver superior construction and renovation services that combine craftsmanship, integrity, and innovative solutions. We are committed to building long-lasting relationships with our clients through excellence and reliability in every project we undertake.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              We strive to transform our clients’ visions into reality while maintaining the highest standards of quality and safety. With over 9 years of expertise, our team of professionals is dedicated to providing unparalleled service, ensuring that each project, large or small, is completed on time and within budget.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Our core values of trust, transparency, and craftsmanship drive us to continuously improve and innovate. We are passionate about shaping the built environment, creating spaces that are not only functional but also reflect the aspirations of our clients.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
