---
const values = [
  [
  {
    ref: '01',
    name: 'Excellence',
    description:
      'We are committed to delivering the highest quality in every project. Our attention to detail ensures that all work is completed to the highest standards, guaranteeing long-lasting results and satisfied clients.',
  },
  {
    ref: '02',
    name: 'Innovation',
    description:
      'We embrace cutting-edge construction methods, technology, and solutions. By constantly innovating and improving, we provide our clients with modern, efficient, and cost-effective solutions.',
  },
  ],
  [
  {
    ref: '03',
    name: 'Teamwork',
    description:
      'Collaboration is at the heart of our success. We foster strong teamwork among our skilled professionals, subcontractors, and clients, ensuring smooth project execution from start to finish.',
  },
  {
    ref: '04',
    name: 'Respect',
    description:
      'We treat our clients, partners, and team members with the utmost respect. This value guides our approach to communication, problem-solving, and conflict resolution, ensuring a positive working environment for all.',
  },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Values</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
