<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            Your Trusted Partner for Quality Construction Services.
          </h1>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg sm:text-xl">
            From home renovations to commercial builds, we deliver exceptional results on time and within budget.
          </p>
        </div>
        <a
          href="/contact"
          class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Get in Touch
        </a>
      </div>
      <img
        class="h-auto w-full rounded-3xl"
        width="1280"
        height="640"
        src="https://img.freepik.com/free-photo/tools-table_144627-8680.jpg?t=st=1734716018~exp=1734719618~hmac=2c3e9a0dce65260bcdc77a51f4d160f55b989c771acfbdbabae93e36686b81d4&w=1060"
        alt="Hero picture"
      />
    </div>
  </div>
</section>
